attr>=0.3.2
attrs>=23.1.0
appdirs>=1.4.4
colorama>=0.4.6
Flask>=2.3.2
lxml>=4.9.3
Pillow==9.3.0
requests>=2.31.0,<3
label-studio-tools>=0.0.2
Jinja2>=3.1.2
itsdangerous>=2.1.2
werkzeug>=2.3.6
redis>=4.6.0
rq==1.15.1
