git+https://github.com/facebookresearch/segment-anything.git
label-studio-converter>=0.0.53
tqdm>=4.65.0
boto3>=1.26.131
botocore>=1.29.131
opencv-python-headless>=4.7.0.72
numpy>=1.21.6
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cu117
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.1+cu117