click>=8.1.3
redis
rq==1.12.0
gunicorn==20.1.0
werkzeug>=2.1.2
itsdangerous>=2.1.2

boto3>=1.26.103
torch>=1.13.1
torchvision>=0.14.1
openmim>=0.3.7

opencv-contrib-python-headless>=4.7.0.72
mmcv>=2.0.0
mmdet>=3.0.0
